<div class="ui-g dashboard">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Cargos</h1>
            <p-dataTable [value] = "cargos" selectmode = "single" [(selection)] = "selectedCargo" (onRowSelect) = "onRowSelect($event)" [rows] = "10" [paginator] = "true" [rowsPerPageOptions]="[5,10,20]">
                <p-header>Lista de Cargos</p-header>
                <p-column field="name" header="Nombre"></p-column>
                <p-column field="created_at" header="Fecha de Creación">
                    <ng-template let-col let-car="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{car[col.field] | date:'short'}}</span>
                    </ng-template>
                </p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Nuevo Cargo"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
    </div>
</div>