<div class="ui-g">
    <div class="ui-g-12">
        <div class="wrapper">
	        <div class="container">
		        <h1>SIGDRE</h1>
		
                <form class="form">
                    <input #inputEmail type="text" placeholder="Correo Electronico">
                    <input #inputPassword type="password" placeholder="Contraseña">
                    <button id="button_login" (click) = "loginUser(inputEmail.value, inputPassword.value); inputEmail.value=''; inputPassword.value=''" class="btn btn-inverse btn-sm">Ingresar</button>
                </form>
	        </div>
	
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

