<div class="ui-g dashboard">
    <p-growl [(value)]="msgs" sticky="sticky"></p-growl>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g card colorbox colorbox-2">
            <div class="ui-g-4">
                <i class="material-icons">check_circle</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Registrados</span>
                <span class="colorbox-count">50</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g card colorbox colorbox-1">
            <div class="ui-g-4">
                <i class="material-icons">check_circle</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Activos</span>
                <span class="colorbox-count">1200</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g card colorbox colorbox-3">
            <div class="ui-g-4">
                <i class="material-icons">report</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Inactivos</span>
                <span class="colorbox-count">22</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Usuarios</h1>
            <p-dataTable [value]="usuarios" selectionMode="single" [(selection)]="selectedUsuario" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
                <p-header>Lista de Usuarios</p-header>
                <p-column field="paterno" header="Paterno" [filter]="true" filterPlaceholder="Buscar"></p-column>
                <p-column field="materno" header="Materno" [filter]="true" filterPlaceholder="Buscar"></p-column>
                <p-column field="nombres" header="Nombres" [filter]="true" filterPlaceholder="Buscar"></p-column>
                <p-column field="email" header="Email" [filter]="true" filterPlaceholder="Buscar"></p-column>
                <p-column field="cargos.name" header="Cargo"></p-column>
                <p-column field="estados.name" header="Estado"></p-column>
                <p-column field="created_at" header="Fecha de creación"></p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Nuevo Usuario"></button>
                    </div>
                </p-footer>
            </p-dataTable>

            <p-dialog header="Detalles Usuarios" width=700 [(visible)]="dialogDisplay" [responsive]="true" showEffect="fade" [modal]="true">
                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="usuario">
                    <form (ngSubmit)="onSubmit()" #usuariosForm="ngForm">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="cargo">Cargo</label>
                            </div>
                            <select class="form-control" id="cargo"
                                    required
                                    [(ngModel)]="usuario.id_cargo" 
                                    name="cargo"
                                    #cargo="ngModel">
                            <option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.name}}</option>
                            </select>
                            <div [hidden]="cargo.valid || cargo.pristine" class="alert alert-danger">
                                El campo cargo es obligatorio
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="nombre">Nombres</label>
                            </div>
                            <div class="ui-grid-col-8">
                                <input  pInputText 
                                        id="nombre" 
                                        [(ngModel)]="usuario.nombres" 
                                        name="nombres" 
                                        #nombres="ngModel" 
                                        required/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="paterno">Apellido Paterno</label>
                            </div>
                            <div class="ui-grid-col-8">
                                <input  pInputText 
                                        id="paterno" 
                                        [(ngModel)]="usuario.paterno" 
                                        name="paterno" 
                                        #paterno="ngModel" 
                                        required/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="materno">Apellido Materno</label>
                            </div>
                            <div class="ui-grid-col-8">
                                <input  pInputText 
                                        id="materno" 
                                        [(ngModel)]="usuario.materno" 
                                        name="materno" 
                                        #materno="ngModel" 
                                        required/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="username">Username</label>
                            </div>
                            <div class="ui-grid-col-8">
                                <input  pInputText 
                                        id="username" 
                                        [(ngModel)]="usuario.username" 
                                        name="username" 
                                        #username="ngModel" 
                                        required/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="email">Correo Electrónico</label>
                            </div>
                            <div class="ui-grid-col-8">
                                <input  pInputText 
                                        id="email" 
                                        [(ngModel)]="usuario.email" 
                                        name="email" 
                                        #email="ngModel" 
                                        required/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <label for="estado">Estado de Usuario</label>
                            </div>
                            <select class="form-control" id="estado"
                                    required
                                    [(ngModel)]="usuario.id_estado" 
                                    name="estado"
                                    #estado="ngModel">
                            <option *ngFor="let estado of estados" [value]="estado.id">{{estado.name}}</option>
                            </select>
                            <div [hidden]="estado.valid || estado.pristine" class="alert alert-danger">
                                El campo estado es obligatorio
                            </div>
                        </div>
                        <input  type="hidden" 
                                id="id" 
                                [(ngModel)]="usuario.id" 
                                name="id"
                                #id="ngModel"/>
                        <p-footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button type="button" pButton icon="fa-check" (click)="saveUsuario(id.value, cargo.value, nombres.value, paterno.value, materno.value, username.value, email.value, estado.value)" [disabled]="!usuariosForm.form.valid" label="Guardar"></button>
                                <button type="button" pButton icon="fa-close" (click)="delete()" label="Cancelar"></button>
                            </div>
                        </p-footer>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
</div>